DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DB_NAME=nexora_engine
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
TIME_ZONE=Asia/Kolkata
LANGUAGE_CODE=en-us
ENVIRONMENT=development
